<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <link href="${request.contextPath}/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/jqadmin/js/layui/css/layui.css" media="all">
    
</head>

<body style="height: 100%">
<button id="menu_form_add" class="layui-btn layui-btn-sm" >添加</button>
<button id="menu_deletes" class="layui-btn layui-btn-danger layui-btn-sm" >批量删除</button>
<table class="layui-hide" id="menu_table" lay-filter="menu_action"
	 style="padding: 0 0 0;margin: 0 0 0"></table>
<script src="${request.contextPath}/jqadmin/js/layui/layui.js" charset="utf-8"></script>
<script src="${request.contextPath}/js/jquery-3.2.1.min.js" charset="utf-8"></script>
<script src="${request.contextPath}/js/form2json.js" charset="utf-8"></script>
 
<script>
layui.use(['table','form','layer','jquery'], function(){
  var table = layui.table,
  	form = layui.form,
  	layer = layui.layer,
  	$ = layui.jquery;
  var menu_form;
  
  
  table.render({
    elem: '#menu_table',
    page: true
    ,url:'${request.contextPath}/sys/menu/list'
    //,cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    ,cols: [[
      {field:'id', width:30, title: 'ID', sort: true,type: 'checkbox'}
      ,{field:'title', width:120, title: '名称'}
      ,{field:'url', minWidth:300, title: '资源路径'}
      ,{field:'type', width:60, title: '类型',templet: '#menu_type'}
      ,{field:'icon', title: '图标', width: '60',templet: '#menu_icon' } //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
      ,{field:'permission', title: '权限', minWidth:300}
      ,{field:'status', title: '状态', width:80,templet: '#menu_status'}
      ,{fixed: 'right', width:100, toolbar: '#menu_bar'} //这里的toolbar值是模板元素的选择器
    ]]
  });
//监听工具条
  table.on('tool(menu_action)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
    var data = obj.data; //获得当前行数据
    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
    var tr = obj.tr; //获得当前行 tr 的DOM对象
   
    if(layEvent === 'detail'){ //查看
    	menu_form = layer.open({
  		  type: 1,
  		  title: '添加',
  		  content: $('#menu_form')
  	  })
  	  layer.full(menu_form);
    } else if(layEvent === 'del'){ //删除
      layer.confirm('真的删除行么', function(index){
        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
        layer.close(index);
        //向服务端发送删除指令
      });
    } else if(layEvent === 'edit'){ //编辑
    	menu_form = layer.open({
  		  type: 1,
  		  title: '添加',
  		  content: $('#menu_form')
  	  })
  	  layer.full(menu_form);
    }
  });
  
  table.on('checkbox(menu_action)', function(obj){
	  alert(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
	});
	
  
  $('#menu_form_add').click(function(){
	   menu_form = layer.open({
		  type: 1,
		  title: '添加',
		  content: $('#menu_form')
	  })
	  layer.full(menu_form);
  })
  
  $('.menu_form_close').click(function(){
	  layer.close(menu_form);
  })
  $('.menu_form_submit').click(function(){
	  var params = $('#menu_form').serializeObject();
	$.ajax({
		url: '${request.contextPath}/sys/menu/save',
		data: params,
		type: 'PUT',
		success:function(data,textStatus){
				layer.msg(data.msg);
		},
		error : function(){
		}
  
  })
  })
  

  
});
</script>
<script type="text/javascript" id="menu_status">
{{# if(d.status == 0){ }}
<input type="checkbox" name="zzz" lay-skin="switch" lay-text="启用|禁用">
{{# } }}
{{# if(d.status == 1){ }}
<input type="checkbox" name="zzz" lay-skin="switch" lay-text="启用|禁用" checked>
{{# } }}
</script>
<script type="text/html" id="menu_bar">
  <button class="layui-btn layui-btn-sm" lay-event="detail">查看</button>
  <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>
<script id="menu_icon">
	<i class="{{d.icon}} fa-2x"></i>
</script>
<script type="text/html" id="menu_type">
    {{#  if(d.type == 0){ }}
  		<span class="layui-badge layui-bg-green">目录</span>
  {{#  } }}
{{#  if(d.type == 1){ }}
  		<span class="layui-badge layui-bg-blue">菜单</span>
  {{#  } }}
{{#  if(d.type == 2){ }}
  		<span class="layui-badge layui-bg-gray">CRUD</span>
  {{#  } }}
</script>
<form id="menu_form" hidden="hidden"  class="layui-form" action="" method="post" >

   <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">名称</label>
      <div class="layui-input-inline">
        <input name="title" lay-verify="required" autocomplete="off" class="layui-input" type="tel">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">资源路径</label>
      <div class="layui-input-inline">
        <input name="url" lay-verify="required" autocomplete="off" class="layui-input" type="text">
      </div>
    </div>
  </div>
  
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">图标</label>
      <div class="layui-input-inline">
        <input name="icon" autocomplete="off" class="layui-input" type="tel">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">权限</label>
      <div class="layui-input-inline">
        <input name="permission" autocomplete="off" class="layui-input" type="text">
      </div>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">类型</label>
    <div class="layui-input-block">
      <input type="radio" name="type" value="1" title="菜单" checked>
      <input type="radio" name="type" value="2" title="CRUD">
      <input type="radio" name="type" value="0" title="目录">
    </div>
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <input type="checkbox" name="status" lay-skin="switch" value=1 lay-text="启用|禁用" checked>
    </div>
  </div>
    <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">备注</label>
    <div class="layui-input-block">
      <textarea style="width:600px" name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button  type="button" class="layui-btn menu_form_submit">提交</button>
      <button type="reset" class="layui-btn layui-btn-danger">重置</button>
      <button type="button" class="layui-btn layui-btn-primary menu_form_close">关闭</button>
    </div>
  </div>
  
  
</form>
 

</body>
</html>